nav {
   padding: 10px;
   margin-bottom: 20px;
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .nav-logo {

    }
    .nav-menu{
        ul{
            list-style: none;
            display: flex;
           
  
            li {
              margin-left: 20px;
            }
        }
    }
  }
 
}
